* {margin: 0;}
body{
    background-color: rgb(66, 12, 214);
    font-style: oblique;
    font-family: Verdana, Tahoma, sans-serif;
    
}
header{
    margin: 30px;
    color: antiquewhite;
}
img{
    width: 237;
    height: 229px;
    top: 116px;
    left: 120px;
    border-radius: 100%;
   
}
main{
    margin: 30px;
    color: antiquewhite;
}
footer{
    background-color: gray;
    margin: 0;
    text-align: center;
}
div{
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: rgb(44, 9, 202);
    }
p{
    margin-bottom: 10px;
}
a{color: antiquewhite;}